p{
    font-size: 20px;
    font-weight: bold;
}

.carrito{
    margin-right: 1rem;
}

.cardJuego{
    width: 18rem;
    margin: 4px;
    align-items: center;
}

.cardJuegos{
    margin: 4px;
    align-items: center;
    justify-content: center;
}

.cardBody{
    text-align: center;
    margin-bottom: 3rem;
}