.bg-light{
    background-color: darkgoldenrod;
}

p{
    font-size: 20px;
    font-weight: bold;
}

.carrito{
    margin-right: 1rem;
}

.cardJuego{
    width: 18rem;
    margin: 4px;
}

.cardJuegos{
    margin: 4px;
    align-items: center;
    justify-content: center;
}